extends layout

block rightNavMenu
  li
    a(href="#")
      i.material-icons.left settings
      |settings
  li
    a(href="#")
      i.material-icons.left exit_to_app
      |logout

block rightNavMenuMobile
  li
    a(href="#")
      i.material-icons.left settings
      |settings
    a(href="#")
      i.material-icons.left exit_to_app
      |logout

block content
  div.row
    div#vehicle-list.col.s3
      h4 Select Vehicle:
    div.col.s3
      ul#journeyPicker
    div#map.col.s6(style='height: 400px;')
    div#details.col.s6.offset-s6

  script(src='javascripts/leaflet.js')
  script(type="text/javascript").
    var _journeys = !{JSON.stringify(journeys)};
  script(src='javascripts/journeys.js')
  link(rel='stylesheet', href='/stylesheets/leaflet.css')