extends layout

block rightNavMenu
  li
    a(href='#')
      i.material-icons.left settings
      |settings
  li
    a(href='/logout')
      i.material-icons.left exit_to_app
      |logout

block rightNavMenuMobile
  li
    a(href='#')
      i.material-icons.left settings
      |settings
    a(href='/logout')
      i.material-icons.left exit_to_app
      |logout

block content
  div.row
    div#vehicle-list.col.s3
    div.col.s2
      div#journeyPicker.collection
    div.col.s5
      div#map(style='height: 400px;')
      form(action='#')
        p.range-field
          input(type='range', id='fence-size', min='10', max='1000')
      div#fences

  script(src='javascripts/leaflet.js')
  script(type="text/javascript").
    var _fleet = !{JSON.stringify(fleet)};
  script(src='javascripts/geometry.js')
  script(src='javascripts/fences.js')
  script(src='javascripts/journeys.js')
  link(rel='stylesheet', href='/stylesheets/leaflet.css')